<!--container-->

<div class="h-132">
  <!--bg photo-->
  <img src="../../../assets/open-book-1428428.jpg" class="absolute h-132 object-cover md:w-full">
  <div class="relative w-full h-132 bg-black bg-opacity-80 flex items-center justify-center flex-col">
    <!--heading-->
    <p class="text-white font-playfair text-2xl font-bold md:text-6xl md:my-4">Our Expert Editorial Team</p>
    <p class="text-white font-roboto text-l m-4 text-center md:text-2xl md:my-8">Skilled language experts and academic scholars, Titan Editorial has the best in the industry.</p>
    <!--points-->
    <div class="flex flex-row mx-8 md:text-2xl md:my-2">
      <p class="text-amber-500 text-l">&#187;</p>
      <p class="text-white text-m font-roboto">Our team consists of engineers, research scholars, postgraduates, journal peer reviewers, and physicians.</p>
    </div>
    <div class="flex flex-row mx-8 md:text-2xl md:my-2">
      <p class="text-amber-500 text-l">&#187;</p>
      <p class="text-white text-m font-roboto">We help 7000+ students in over 600 disciplines to help them achieve their academic goals.</p>
    </div>
    <div class="flex flex-row mx-8 md:text-2xl md:my-2">
      <p class="text-amber-500 text-l">&#187;</p>
      <p class="text-white text-m font-roboto">Qualified professionals and subject-matter expertise offer comments, critique, suggestions, and feedback.</p>
    </div>
    <div class="flex flex-row mx-8 md:text-2xl md:my-2">
      <p class="text-amber-500 text-l">&#187;</p>
      <p class="text-white text-m font-roboto">Selected from hundreds of competent candidates using incisive editing and language proficiency examinations.</p>
    </div>
    <div class="flex flex-row mx-8 md:text-2xl md:my-2">
      <p class="text-amber-500 text-l">&#187;</p>
      <p class="text-white text-m font-roboto">All editors are trained in editing academic documents through specialized seminars and workshops.</p>
    </div>
  </div>
</div>
