<div class="h-96">
  <img src="../../../assets/mistakes-1756958.jpg" class="absolute w-full h-96 object-cover">
  <div class="relative w-full h-96 bg-black bg-opacity-80">
    <img src="../../../assets/Logo.png" class="p-4">
    <div class="flex flex-col justify-center items-center font-roboto text-l">
      <p class="text-white text-center px-2">US based proofreading and editing service for students, businesses, and authors. Available 24/7 at lowest prices and fast turnarounds. Order Now!</p>
    </div>
    <div class="flex flex-row justify-around pt-4 font-roboto text-center">
      <div class="flex flex-col text-white">
        <p class="font-bold text-amber-500">Services</p>
        <p>Academic</p>
        <p>Business</p>
        <p>Author</p>
        <p>Job Applicant</p>
      </div>
      <div class="flex flex-col text-white">
        <p class="font-bold text-amber-500">Useful Links</p>
        <p>Samples</p>
        <p>Pricing</p>
        <p>Blog</p>
        <p>Sign In</p>
        <p>Contact Us</p>
      </div>
    </div>
  </div>
</div>
