<!--attention ribbon-->
<div class="flex items-center justify-center w-full py-1 text-white bg-red-500 md:text-l">
  <p>This page is for front end developer portfolio only.</p>
</div>

<!--header-->
<div class="h-96">
  <!--hero-->
  <img src="../../../assets/Photo1.jpg" class="absolute w-full h-96 object-cover">
  <div class="relative w-full h-96 bg-black bg-opacity-80">
    <!--logo-->
    <img src="../../../assets/Logo.png" class="p-4">
    <!--hero text-->
    <div class="flex flex-col justify-center items-center font-playfair text-3xl">
      <p class="text-white">Professional</p>
      <p class="text-amber-400 mx-1">Editing Services</p>
      <p class="text-white">for your</p>
      <span #textElement class="font-bold text-amber-400 h-12"></span>
    </div>
    <!--hero subtext-->
    <div class="mx-4 mt-8 flex flex-col justify-end items-end text-center">
      <p class="text-white text-s font-roboto">Ready to take your writing out into the world? Hiring a professional editor is your next step.</p>
    </div>
  </div>
</div>
