<hr>
<div class="flex flex-col my-8 items-center">
  <div class="flex flex-row justify-center">
    <p class="text-amber-500 font-bold text-3xl mr-2">✓</p>
    <p class="text-black font-bold text-3xl font-playfair">Concision</p>
  </div>
  <div class="flex flex-row justify-center">
    <p class="text-amber-500 font-bold text-3xl mr-2">✓</p>
    <p class="text-black font-bold text-3xl font-playfair">Completeness</p>
  </div>
  <div class="flex flex-row justify-center">
    <p class="text-amber-500 font-bold text-3xl mr-2">✓</p>
    <p class="text-black font-bold text-3xl font-playfair">Consistency</p>
  </div>
  <div class="flex flex-row justify-center">
    <p class="text-amber-500 font-bold text-3xl mr-2">✓</p>
    <p class="text-black font-bold text-3xl font-playfair">Correctness</p>
  </div>
  <div class="flex flex-row justify-center">
    <p class="text-amber-500 font-bold text-3xl mr-2">✓</p>
    <p class="text-black font-bold text-3xl font-playfair">Clarity</p>
  </div>
  <button class="bg-amber-500 w-[80%] rounded-xl text-xl text-white font-bold tracking-widest py-2 mt-8">Get Started</button>
  <hr class="my-10 w-full">
</div>
