<div class="w-full text-slate-400 font-playfair text-center my-4">
  <p class="font-bold text-2xl pb-4">Features for you</p>
  <div class="relative flex overflow-x-hidden">
    <div class="animate-marquee whitespace-nowrap">
      <span class="text-2xl mx-4">Editing</span>
      <span class="text-2xl mx-4">Proofreading</span>
      <span class="text-2xl mx-4">Publishing</span>
      <span class="text-2xl mx-4">Marketing</span>
      <span class="text-2xl mx-4">Designing</span>
    </div>
    <div class="absolute top-0 animate-marquee2 whitespace-nowrap">
      <span class="text-2xl mx-4">Editing</span>
      <span class="text-2xl mx-4">Proofreading</span>
      <span class="text-2xl mx-4">Publishing</span>
      <span class="text-2xl mx-4">Marketing</span>
      <span class="text-2xl mx-4">Designing</span>
    </div>
  </div>
</div>
