<div class="flex flex-col py-2 bg-amber-200">
  <p class="font-playfair text-4xl font-bold text-center mt-8">Why Choose Us</p>
  <p class="font-roboto text-center m-4">We are available for you at all times and offer our proofreading and editing services to you round-the-clock.</p>
  <!--cards-->
  <div class="flex flex-col items-center justify-center rounded-xl mx-4 mb-4 p-4 shadow-xl bg-white">
    <p class="font-playfair text-2xl font-bold">Skilled & Experienced</p>
    <p class="font-roboto text-l text-center p-4">Your work will he proofread by native speakers with PhDs, physicians, scientists, and professionals in your subject area who understand every little detail about your discipline.</p>
  </div>
  <div class="flex flex-col items-center justify-center rounded-xl mx-4 mb-4 p-4 shadow-xl bg-white">
    <p class="font-playfair text-2xl font-bold">Fast, Easy, & Affordable</p>
    <p class="font-roboto text-l text-center p-4">We are fast, efficient, easy-to-reach, and affordable, 24/7. We recognize the importance of respecting deadlines without affecting quality at all times - be it weekends or national holidays!</p>
  </div>
  <div class="flex flex-col items-center justify-center rounded-xl mx-4 mb-4 p-4 shadow-xl bg-white">
    <p class="font-playfair text-2xl font-bold">100% Happiness Guarantee</p>
    <p class="font-roboto text-l text-center p-4">Customer satisfaction is good, but as a company policy, we settle for nothing less than happiness. Being happy is better than being satisfied. If you're not happy, we'll go the extra mile to fix it.</p>
  </div>
  <div class="flex flex-col items-center justify-center rounded-xl mx-4 mb-4 p-4 shadow-xl bg-white">
    <p class="font-playfair text-2xl font-bold">Secure & Confidential</p>
    <p class="font-roboto text-l text-center p-4">We understand the value of privacy and confidentiality in an are of data explosion. This is why we use globally respected 265-bit SSL insudtry-standard excryption technology.</p>
  </div>
</div>
