<div class="flex flex-col py-2 bg-amber-500 md:py-8">
  <p class="text-center font-playfair font-bold text-6xl mb-8 hidden md:block">Get Started in 4 Simple Steps</p>
  <div class="md:flex md:flex-row">
    <div class="flex flex-col items-center justify-center text-center border border-white rounded-xl mx-4 my-2 md:w-[25%] md:p-2">
      <img src="./assets/uploadfile.png" class="w-40 m-6">
      <p class="font-playfair text-4xl font-bold">Upload file or enter the word count.</p>
      <p class="font-roboto text-l px-8 py-8">Upload file or enter the word count to check pricing.</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center border border-white rounded-xl mx-4 my-2 md:w-[25%] md:p-2">
      <img src="./assets/clock.png" class="w-40 m-6">
      <p class="font-playfair text-4xl font-bold">Choose your turnaround time.</p>
      <p class="font-roboto text-l px-8 py-8">Select the services and choose a suitable turnaround.</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center border border-white rounded-xl mx-4 my-2 md:w-[25%] md:p-2">
      <img src="./assets/document.png" class="w-40 m-6">
      <p class="font-playfair text-4xl font-bold">Let us know your requirements</p>
      <p class="font-roboto text-l px-8 py-8">Choose your document type and provide all important details.</p>
    </div>
    <div class="flex flex-col items-center justify-center text-center border border-white rounded-xl mx-4 my-2 md:w-[25%] md:p-2">
      <img src="./assets/payment.png" class="w-40 m-6">
      <p class="font-playfair text-4xl font-bold">Pay for your order, sit back, and relax.</p>
      <p class="font-roboto text-l px-8 py-8">We take over now and contact you when the job is complete via email.</p>
    </div>
  </div>
</div>
