<div class="flex flex-col my-2 md:flex-row">

  <div class="flex flex-col items-center justify-center border border-amber-300 rounded-xl mx-4 my-2 md:w-[25%] md:justify-end">
    <img src="../../../assets/academicTable.png" class="w-36 m-6">
    <p class="font-playfair text-4xl font-bold">Academic</p>
    <p class="font-roboto text-gray-600 text-l px-8 py-4 text-center">I want to have my academic document, thesis, term paper or dissertation proofread to improve readability.</p>
    <div class="font-roboto text-gray-600 text-l px-8 py-4 text-center">Can you help me ace my grade?</div>
    <button class="bg-green-500 text-white font-bold font-roboto tracking-widest p-2 w-[80%] text-2xl rounded-xl my-4">Learn More</button>
  </div>

  <div class="flex flex-col items-center justify-center border border-amber-300 rounded-xl mx-4 my-2 md:w-[25%] md:justify-end">
    <img src="../../../assets/businessTable.png" class="w-40 m-6 md:m-10">
    <p class="font-playfair text-4xl font-bold">Business</p>
    <p class="font-roboto text-gray-600 text-l px-8 py-4 text-center">I need editing for my reports, press releases, white papers, promotional content or marketing materials.</p>
    <div class="font-roboto text-gray-600 text-l px-8 py-4 text-center">Can you make every word count?</div>
    <button class="bg-green-500 text-white font-bold font-roboto tracking-widest p-2 w-[80%] text-2xl rounded-xl my-4">Learn More</button>
  </div>

  <div class="flex flex-col items-center justify-center border border-amber-300 rounded-xl mx-4 my-2 md:w-[25%] md:justify-end">
    <img src="../../../assets/authorTable.png" class="w-40 m-6 md:m-10">
    <p class="font-playfair text-4xl font-bold">Authors</p>
    <p class="font-roboto text-gray-600 text-l px-8 py-4 text-center">My book /novel /play /autobiography /manuscript needs proofreading, content developement and critical analysis.</p>
    <div class="font-roboto text-gray-600 text-l px-8 py-4 text-center">Can you make my work publish-ready?</div>
    <button class="bg-green-500 text-white font-bold font-roboto tracking-widest p-2 w-[80%] text-2xl rounded-xl my-4">Learn More</button>
  </div>

  <div class="flex flex-col items-center justify-center border border-amber-300 rounded-xl mx-4 my-2 md:w-[25%] md:justify-end">
    <img src="../../../assets/jobApplicantTable.png" class="w-40 m-6">
    <p class="font-playfair text-4xl font-bold">Job Applicants</p>
    <p class="font-roboto text-gray-600 text-l px-8 py-4 text-center">I have a cover letter, CV, statement of purpose or personal document that needs high quality editing.</p>
    <div class="font-roboto text-gray-600 text-l px-8 py-4 text-center">Can your editors help me get hired?</div>
    <button class="bg-green-500 text-white font-bold font-roboto tracking-widest p-2 w-[80%] text-2xl rounded-xl my-4">Learn More</button>
  </div>
</div>
